@if(message) {
  <div class="alert alert-info my-2">{{ message }}</div>
}
<!-- CREAR JUEGO -->
@if (formCrear) {
<div class="card mb-4">
  <div class="card-header bg-primary text-white">Crear Juego</div>
  <div class="card-body">
    <form id="createGameForm" (ngSubmit)="onCreate()">
      <div class="mb-3">
        <label for="createNombre" class="form-label">Nombre del Juego</label>
        <input type="text" class="form-control" id="createNombre" name="nombre" [(ngModel)]="juego.nombre"
          maxlength="50" required>
      </div>
      <div class="mb-3">
        <label for="createUnidades" class="form-label">Número de Unidades</label>
        <input type="number" class="form-control" id="createUnidades" name="nUnidades" [(ngModel)]="juego.nUnidades"
          min="1" required>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <button type="submit" class="btn btn-success w-100">Crear Juego</button>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-secondary w-100" (click)="goBack()">Atrás</button>
        </div>
      </div>
    </form>
  </div>
</div>
}

<!-- TABLA DE JUEGOS -->
@if(lista == true) {
<button class="btn btn-primary" (click)="showCreate()">Crear Juego</button>
<p></p>
<div class="card mb-4">
  <div class="card-header bg-info text-white">Lista de Juegos</div>
  <div class="card-body">
    @if (juegos.length == 0) {
    <div class="alert alert-danger">No se han encontrado juegos</div>
    }@else {
    <table class="table table-striped">
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Unidades</th>
          <th>Editar</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody>
        @for (juego of juegos; track juegos) {
        <tr>
          <td>{{ juego.nombre }}</td>
          <td>{{ juego.nUnidades }}</td>
          <td>
            <button class="btn btn-warning" (click)="showEdit(juego.id)"> Editar</button>
          </td>
          <td>
            <button class="btn btn-danger" (click)="onRemove(juego.id)">Eliminar</button>
          </td>
        </tr>
        }
      </tbody>
    </table>
    }
  </div>
</div>
}

<!-- EDITAR JUEGO -->
@if(formEditar == true) {
<div class="card mb-4">
  <div class="card-header bg-warning text-white">Editar Juego</div>
  <div class="card-body">
    <form id="editGameForm" (ngSubmit)="onEdit()">
      <div class="mb-3">
        <label for="editId" class="form-label">ID</label>
        <input type="number" class="form-control" id="editId" name="id" [(ngModel)]="juego.id" readonly required>
      </div>
      <div class="mb-3">
        <label for="editNombre" class="form-label">Nombre del Juego</label>
        <input type="text" class="form-control" id="editNombre" name="nombre" [(ngModel)]="juego.nombre" maxlength="50"
          required>
      </div>
      <div class="mb-3">
        <label for="editUnidades" class="form-label">Número de Unidades</label>
        <input type="number" class="form-control" id="editUnidades" name="nUnidades" [(ngModel)]="juego.nUnidades"
          min="1" required>
      </div>
      <div class="row">
        <div class="col-12 mb-2">
          <button type="submit" class="btn btn-warning w-100">Guardar Cambios</button>
        </div>
        <div class="col-12">
          <button type="button" class="btn btn-secondary w-100" (click)="goBack()">Atrás</button>
        </div>
      </div>
    </form>
  </div>
</div>
}