<div class="content">
  <h1>Catálogo de Libros</h1>

  <!-- Contenedor de los libros (paginado) -->
  <div class="row" id="books-container">

    @for(libro of librosFiltrados; track libro) {

    <div class="col-12 col-sm-12 col-md-6 col-lg-4 mb-3 book-card">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ libro.titulo }}</h5>
          <p class="card-text">{{ libro.sinopsis }}</p>

          @if(tieneReservaActiva(libro)) {
          <button class="btn btn-secondary" disabled>Ya reservado</button>
          }@else{
          @if(libro.unidadesDisponibles > 0) {
          <button class="btn btn-primary" (click)="reservar(libro)">Reservar</button>
          }@else {
          <button class="btn btn-secondary" disabled>Sin unidades disponibles</button>
          }
          }
          <p class="mt-2 text-muted">Quedan <strong>{{ libro.unidadesDisponibles }}</strong> libros disponibles</p>
        </div>
      </div>
    </div>
    }

  </div>
</div>

<div class="filter-sidebar">
  <h5>Filtros</h5>
  <form action="">
    <div class="mb-3">
      <label class="form-label">Géneros</label>
      @for (genero of generos; track genero) {
      <div class="form-check">
        <input class="form-check-input" type="checkbox" [id]="'createGenero' + genero.id" [value]="genero.id"
          [checked]="isGeneroSeleccionado(genero)" (change)="toggleGeneroSeleccionado(genero, $event)">

        <label class="form-check-label" [for]="'createGenero' + genero.id">
          {{ genero.nombre }}
        </label>
      </div>
      }
    </div>

    <div class="form-group">
      <label for="curso">Curso</label>
      <select id="curso" class="form-select" [(ngModel)]="cursoSeleccionado" name="cursoSeleccionado">
        <option value="">Todos los cursos</option>
        @for(curso of cursos; track curso) {
        <option value="{{curso}}">{{curso}}</option>
        }
      </select>
    </div>
  </form>
</div>

@if(message) {
<div class="alert alert-info my-2">{{ message }}</div>
}