<body class="bg-light">

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Insertar Libros</div>
        <div class="card-body">
            <div class="mb-3">
                <label for="formFile" class="form-label">Introduzca el archivo para importar libros</label>
                <input class="form-control" type="file" id="formFile">
            </div>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">Crear Libro</div>
        <div class="card-body">
            <form id="createBookForm">
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" maxlength="13" required>
                </div>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="autor" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="autor" name="autor" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="sinopsis" class="form-label">Sinopsis</label>
                    <textarea class="form-control" id="sinopsis" name="sinopsis" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="curso" class="form-label">Curso:</label>
                    <select id="curso" name="curso" class="form-select" required>
                        <option value="">No es libro de nungun curso</option>
                        <option value="1ESO">1º de ESO</option>
                        <option value="2ESO">2º de ESO</option>
                        <option value="3ESO">3º de ESO</option>
                        <option value="4ESO">4º de ESO</option>
                        <option value="1Bachillerato">1º de Bachillerato</option>
                        <option value="2Bachillerato">2º de Bachillerato</option>
                        <option value="GradoMedio">Grado Medio</option>
                        <option value="GradoSuperior">Grado Superior</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="unidadesTotales" class="form-label">Unidades Totales</label>
                    <input type="number" class="form-control" id="unidadesTotales" name="unidadesTotales" min="0"
                        required>
                </div>
                <div class="mb-3">
                    <label for="unidadesDisponibles" class="form-label">Unidades Disponibles</label>
                    <input type="number" class="form-control" id="unidadesDisponibles" name="unidadesDisponibles"
                        min="0" required>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-select" id="estado" name="estado" required>
                        <option value="Disponible">Disponible</option>
                        <option value="NoDisponible">No Disponible</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Crear Libro</button>
            </form>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-warning">Editar Libro</div>
        <div class="card-body">
            <form id="editBookForm">
                <div class="mb-3">
                    <label for="isbn" class="form-label">ISBN</label>
                    <input type="text" class="form-control" id="isbn" name="isbn" readonly>
                </div>
                <div class="mb-3">
                    <label for="titulo" class="form-label">Título</label>
                    <input type="text" class="form-control" id="titulo" name="titulo" maxlength="50" required>
                </div>
                <div class="mb-3">
                    <label for="autor" class="form-label">Autor</label>
                    <input type="text" class="form-control" id="autor" name="autor" maxlength="20" required>
                </div>
                <div class="mb-3">
                    <label for="sinopsis" class="form-label">Sinopsis</label>
                    <textarea class="form-control" id="sinopsis" name="sinopsis" rows="3" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="curso" class="form-label">Curso:</label>
                    <select id="curso" name="curso" class="form-select" required>
                        <option value="">No es libro de nungun curso</option>
                        <option value="1ESO">1º de ESO</option>
                        <option value="2ESO">2º de ESO</option>
                        <option value="3ESO">3º de ESO</option>
                        <option value="4ESO">4º de ESO</option>
                        <option value="1Bachillerato">1º de Bachillerato</option>
                        <option value="2Bachillerato">2º de Bachillerato</option>
                        <option value="GradoMedio">Grado Medio</option>
                        <option value="GradoSuperior">Grado Superior</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="unidadesTotales" class="form-label">Unidades Totales</label>
                    <input type="number" class="form-control" id="unidadesTotales" name="unidadesTotales" min="0"
                        required>
                </div>
                <div class="mb-3">
                    <label for="unidadesDisponibles" class="form-label">Unidades Disponibles</label>
                    <input type="number" class="form-control" id="unidadesDisponibles" name="unidadesDisponibles"
                        min="0" required>
                </div>
                <div class="mb-3">
                    <label for="estado" class="form-label">Estado</label>
                    <select class="form-select" id="estado" name="estado" required>
                        <option value="Disponible">Disponible</option>
                        <option value="NoDisponible">No Disponible</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-warning">Guardar Cambios</button>
            </form>
        </div>
    </div>

    <div class="card mb-4">
        <div class="card-header bg-danger text-white">Eliminar Libro</div>
        <div class="card-body">
            <form id="deleteBookForm">
                <div class="mb-3">
                    <label for="isbnDelete" class="form-label">ISBN del libro a eliminar</label>
                    <input type="text" class="form-control" id="isbnDelete" name="isbnDelete" maxlength="13" required>
                </div>
                <button type="submit" class="btn btn-danger">Eliminar Libro</button>
            </form>
        </div>
    </div>

</body>