<!-- Vista de inicio -->

<!-- <app-login></app-login> -->
<!-- <app-register></app-register> -->

<!-- Una vez dentro -->
<app-navigation-menu></app-navigation-menu>
<!-- <app-vista-libros></app-vista-libros> -->
<!-- <app-vista-juegos></app-vista-juegos> -->
<!-- <app-vista-torneos></app-vista-torneos> -->
<app-vista-admin></app-vista-admin>
<p></p>
<p></p>
<p></p>
<p></p>
<p></p>
<!-- Dentro del admin la opcion que elija -->
<!-- <app-gestion-libros></app-gestion-libros> -->
<app-gestion-juegos></app-gestion-juegos>
<!-- <app-gestion-campeonatos></app-gestion-campeonatos> -->
<!-- <app-gestion-usuarios></app-gestion-usuarios> -->