<div class="container py-5">
  @if(message) {
  <div class="alert alert-info text-center" role="alert">
    {{ message }}
  </div>
  }


  <h1 class="text-center mb-5">Torneos de Juegos de Mesa</h1>
  @for(juego of juegosConCampeonatosPendientes; track juego) {
  <div class="game-section">
    <h2 class="game-title">{{ juego.nombre }}</h2>
    <div class="row">
      @for(campeonato of campeonatos; track campeonato) {
        @if(campeonato.juego.id == juego.id && campeonato.estado == 'PENDIENTE') {
          <div class="col-md-4">
            <div class="tournament-card">
              <h5>{{ campeonato.descripcion }}</h5>
              <p><strong>Fecha Inicio:</strong> {{ campeonato.fechaInicio }}</p>
              <p><strong>Fecha Fin:</strong> {{ campeonato.fechaFin }}</p>
              <p><strong>Estado:</strong> {{ campeonato.estado }}</p>
              @if(usuarioApuntado(campeonato)) {
                <button class="btn btn-secondary" disabled>Ya inscrito</button>
              } @else {
                <button class="btn btn-primary" (click)="apuntarse(campeonato)">Apuntarse</button>
              }
            </div>
          </div>
        }
      }
    </div>
  </div> 
}
</div>